@font-face {
     font-family: 'Franklin Gothic';
     src: url('../assets/fonts/FranklinGothic.ttf') format('opentype');
}

@font-face {
     font-family: 'Old Newspaper';
     src: url('../assets/fonts/OldNewspaperTypes.ttf') format('opentype');
}


* {
     margin: 0;
     padding: 0;
}

body {
     box-sizing: border-box;
     scroll-behavior: smooth;
}

.main_padding {
     padding: 45px 70px;
}

.landing_view {
     min-height: 100vh;
     background-image: url("../assets/background.webp");
     background-size: cover;
}

.navbar {
     justify-content: space-between;
     align-items: center;
     padding-right: 5px;
}

.hr1 {
     border: 0;
     border-top: 3px solid #767368;
     margin-top: 20px;
}

.hr2 {
     border: 0;
     border-bottom: 1px solid #767368;
     padding-top: 5px;
}


.nav-items {
     gap: 100px;
}

.nav-items span:hover {
     cursor: pointer;
}

.main_content {
     position: relative;
     justify-content: space-between;
     align-items: center;
     height: 73vh;
     padding: 0 50px;
}

.main_text {
     width: 60%;
     display: flex;
     flex-direction: column;
     gap: 20px;
}

.cannon {
     position: absolute;
     right: 0;
     bottom: 0;
     width: 700px;
}

.main_header {
     font-family: 'Franklin Gothic', sans-serif;
     font-size: 60px;
     text-transform: uppercase;
     letter-spacing: 0.04em;
}

.main_par {
     font-family: 'Old Newspaper', sans-serif;
     width: 70%;
     text-align: justify;
}

.nav-items span {
     font-family: 'Old Newspaper', sans-serif;
     font-size: 18px;
}

h1,
p,
.nav-items span,
h3,
h4,
h6 {
     background: url(../assets/texture.webp) no-repeat center center;
     background-size: cover;
     color: #fff;
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
     -moz-background-clip: text;
     background-clip: text;
}

@media(max-width: 1200px) {
     .cannon {
          display: none;
     }

     .main_text {
          width: 100%;
     }

     .main_header {
          font-size: 4.5rem;
     }

     .main_par {
          font-size: 20px;
          width: 100%;
     }
}

@media(max-width: 800px) {
     .main_padding {
          padding: 30px;
     }
}

@media(max-width: 530px) {
     .main_content {
          padding: 0;
     }

     .main_header {
          font-size: 2.5rem;
     }

     .main_par {
          font-size: 20px;

     }
}

/* -----map------- */
.sec_map {
     background-color: #C6AB8A;
     display: flex;
     width: 100%;
     height: 100vh;
     overflow: hidden;
}

#map-wrapper {
     position: relative;
     width: 100vw;
     height: 100vh;
     overflow-x: scroll;
     cursor: grab;
     white-space: nowrap;

     -ms-overflow-style: none;
     scrollbar-width: none;
}

#map-wrapper::-webkit-scrollbar {
     display: none;
}

#map-wrapper:active {
     cursor: grabbing;
}

#map-container {
     position: relative;
     display: inline-block;
     white-space: nowrap;
}

#map-image {
     display: block;
     width: 100vw;
     height: 100vh;
     user-select: none;
     cursor: inherit;
}

@media(max-width: 1350px) {
     #map-image {
          width: auto;
     }
}

/* Custom CSS for always-show-tooltip class */
@media (max-width: 767px) {
     .always-show-tooltip [data-bs-toggle="tooltip"] {
       display: none;
       visibility: visible;
       opacity: 1;
     }
   }

.pin {
     position: absolute;
     /* width: 15px;
     height: 15px;
     background-color: red;
     border-radius: 50%; */
     transform: translate(-50%, -50%);
     transform-origin: center;
}

.pin:hover {
     cursor: pointer;
}

.katyn {
     top: 30.5%;
     left: 74%;
}

.oswiecim {
     top: 74.5%;
     left: 42.9%;
}

.wolyn {
     top: 67.8%;
     left: 65%;
}

.skloby {
     top: 62.5%;
     left: 46.3%;
}

.offcanvas {
     overflow-y: auto;
     background-color: #E5DDD4;
     --bs-offcanvas-width: 450px;
}

.content {
     padding: 20px 40px 20px 30px;
}

h3,
h4,
h6 {
     font-family: 'Franklin Gothic', sans-serif;
     text-transform: uppercase;
}

.offcanvas p {
     text-align: justify;
}

p {
     font-family: 'Old Newspaper', sans-serif;
}

.katyn1_img {
     object-fit: cover;
     object-position: top;
     height: 250px;
}

.btn-close {
     position: absolute;
     background-color: #fff;
     top: 10px;
     right: 10px;
     padding: 8px;
     border-radius: 50%;
     opacity: 1;
}