@font-face {
    font-family: 'Franklin Gothic';
    src: url('../assets/fonts/FranklinGothic.ttf') format('opentype');
}

@font-face {
    font-family: 'Old Newspaper';
    src: url('../assets/fonts/OldNewspaperTypes.ttf') format('opentype');
}

h1,
p,
span {
    background: url(../assets/texture.webp) no-repeat center center;
    background-size: cover;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.quiz-title {
    margin: 3vh 0;
    font-family: 'Franklin Gothic', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../assets/background.webp");
    background-size: cover;

    padding: 30px 100px;
}

#quiz {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.question-content {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1.5vh;
}

.question-answers {
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.correct-answer {
    visibility: hidden;
}

.answer-wrapper {
    position: relative;
    padding: 10px;
    cursor: pointer;
}

.answer-wrapper.checked {
    backdrop-filter: brightness(0.7);
    border-radius: 4px;
}

.answer-wrapper.checked span {
    color: #fff;
    background: none;
    -webkit-text-fill-color: unset;
    -webkit-background-clip: unset;
    -moz-background-clip: unset;
    background-clip: unset;
}

.answer-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

button {
    font-family: 'Franklin Gothic', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;

    border: 2px solid black;
    border-image: url("../assets/texture.webp") 30;

    width: fit-content;
    padding: 10px 50px;
    margin: auto;
    cursor: pointer;
}

@media(max-width: 600px) {
    .main-container {
        padding: 30px 50px;
    }
}